<div id="show_service" class="show service">
  <h2><%= @service.name %></h2>
  <h3>Status: <%= @service.status %></h3>
  <p><%= @service.description %></p>

  <p>
    <b>Service URL:</b>
    <%= "#{root_url}#{@service.url}" %>
  </p>

  <p>
    <b>Next scheduled run:</b>
    <%= @service.next.strftime(date_time) %>
  </p>
  <span class="edit"><%= link_to 'edit', edit_service_path(@service), :class => "edit" %></span>
</div>
