<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Url:</b>
  <%= logger.debug(puts request.methods) %>
</p>

<p>
  <b>Next run:</b>
  <%= @service.next %>
</p>


<p>
  <b>Active:</b>
  <%= @service.active %>
</p>
