<div id="job" class="job <%= job.name -%> job_<%= job.status -%>">
  <h2><%= link_to job.name, job_path(job), :class => "show job" %></h2>
  <dl class="meta">
    <dt class="description">Due in:</span>
      <dd><%= time_ago_in_words(job.next) %></dd>
    <% if job.has_checked_in? %>
      <dt class="description">Last check-in:</dt>
        <dd><%= time_ago_in_words(job.last_seen) %> ago</dd>
    <% else %>
      <dt class="description">Check-in pending</dt>
    <% end %>
  </dl>
  <span class="details"><%= link_to 'details', job_path(job), :class => "show" %></span>
</div>

