<div id="service" class="service <%= service.name -%> service_<%= service.status -%>">
  <h2><%= service.name %></h2>
  <span class="meta">
    next run: <%= service.next.strftime('%D %R') %>
    <% if service.has_checked_in? %>
      | last seen <%= service.last_seen.strftime('%D %R') %>
    <% else %>
      | no check-ins yet
    <% end %>
  </span>
  <span class="edit"><%= link_to 'edit', edit_service_path(service) %></span>
</div>

