<div id="form" class="sessions">
  <%= form_tag :action => 'create' do %>

    <%= label_tag :email, "What is your email address?" %>
    <%= text_field_tag :email, nil,
          :placeholder => Rails.configuration.email_from,
          :class => 'login text'
    %>
    <%= submit_tag 'Sign-in', :class => 'submit button login' %>

  <% end %>

  <h3>Not a Tattletale user?</h3>
   <%= link_to "Create a new account", :signup %>
</div>
