<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> kept this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="form">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :cron_string %>
    <%= f.text_field :cron_string %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= button_to(
          "Delete job",
          @job,
          :method => :delete,
          :confirm => 'Are you sure?'
        ) unless @job.new_record?
    %>
  </div>
</div>
<% end %>
