<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> kept this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="form">
  <div class="field">
    <%= f.label :name, "Job name:" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url, "URL string (valid characters are a-z, 0-9, _, and .)" %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :cron_string, "Job's cron schedule (just paste from crontab):" %>
    <%= f.text_field :cron_string %>
  </div>

  <div class="field">
    <%= f.label :description, "Job description:" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
