<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        are keeping this user from being created
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form">
    <div id="user_name" class="field">
      <%= f.label :name, "Your name:" %>
      <%= f.text_field :name %>
    </div>
    <div id="user_email" class="field">
      <%= f.label :email, "Your e-mail address:" %>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit %>
      <%= f.button(
            "Delete user",
            :method => :delete,
            :confirm => 'Are you sure?') unless @user.new_record?
      %>
    </div>
  </div>
<% end %>
