<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @schedule.name %>
</p>

<p>
  <b>Description:</b>
  <%= @schedule.description %>
</p>

<p>
  <b>Cron String:</b>
  <%= @schedule.cron_string %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
